<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sudarshan.myapplication1">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/nnn"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/nnn"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityOne" />
        <activity android:name=".ActivityTwo" />
        <activity android:name=".ActivityThree" />
        <activity android:name=".ActivityFour" />
        <activity android:name=".ActivityFive" />
        <activity android:name=".ActivitySix" />
        <activity android:name=".ActivitySeven" />
        <activity android:name=".ActivityOneO" />
        <activity android:name=".ActivityTwoO" />
        <activity android:name=".ActivityThreeO" />
        <activity android:name=".ActivityFourO" />
        <activity android:name=".ActivityFiveO" />
        <activity android:name=".ActivitySixO" />
        <activity android:name=".ActivitySevenO"></activity>
    </application>

</manifest>